/*Import link to Lato font*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    background-color: white;
    overflow-x: hidden; /*Hides the bottom scroll if the content excesses the size of the window*/
}

/*NAVBAR*/

@keyframes change-background {
    0% {
        background-color: #b5e1ff;
    }
    50% {
        background-color: aliceblue;
    }
    100% {
        background-color: #2d63c9;
    }
}

li {
    display: inline;
    padding: 5px;
}

a {
    font-family: "Lato", sans-serif; /*Imported font*/
    font-size: 20px;
    font-weight: 700;
    text-shadow: 1px .5px 4px rgba(46,31,31,0.5);
    color: white;
    text-decoration: none;
}

a:hover {
    color: #2b74a5;
}

.nav-bar {
    background-color: #2d63c9;
    padding-top: 10px;
    padding-bottom: 10px;
    /*The negative value of margins stretches them to the very egde of the browser window*/
    margin-top: -8px;
    margin-left: -10px;
    margin-right: -10px;
    position: sticky; /*Creates a sticky element*/
    top: 0; /*Tells the browser 'where to stick' the element*/
    animation: change-background 3s linear;
    z-index: 9; /*sets the navbar to scroll over all elements*/
}

/*id selector creates a line under the Home and Contact links to separate them from the bookmark links*/
#nav-border {
    padding-bottom: 10px;
    border-bottom: 0 solid #ffffff;
}

/*HEADERS*/

h1, h2, h3 {
    font-family: "Lato", sans-serif;
    text-align: center;
    color: #2d63c9;
    text-shadow: 1px .5px 4px rgba(0,0,0,0.5);
    margin: 5px;
}

h1 {
    font-size: 60px;
    margin-top: 50px;
}

h2 {
    font-size: 45px;
    margin-bottom: 30px;
}

h3 {
    font-size: 30px;
    margin-bottom:20px;
}

#contact-h3 {
    text-shadow: none;
}

/*Color change for the h1 tags for the home and contact page headers*/

@keyframes color-text {
    0% {
        color:#b5e1ff;
    }
    100%{
        color: #2d63c9;
    }
}

.animate {
    animation: color-text 3s;
}

/*BODY CONTENT*/

img {
    width:700px;
    height:500px;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.568), 0px 6px 20px 0 rgba(0,0,0,19);
}

.column {
    float: left;
    width: 48%;
    padding: 10px;
}

.container {
    background-size: 100% !important;
    margin: 0px -60px 50px -40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

/*Sets up the size of each div that holds the image to center it*/

.image-container {
    position: relative;
    width: 700px;
    margin: auto;
    margin-bottom: 50px;
}

#cat {
    background-color: #d7eaf7;
}

#dog {
    background-color: #c3e0c5;
}

#rabbit {
    background-color: #c3e0c5;
}

#guineapig {
    background-color: #d7eaf7;
}

#fish {
    background-color: #d7eaf7;
}

#reptiles {
    background-color: #c3e0c5;    
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 700px;
    height: 500px;
    margin-top: 57px;
    border-radius: 15px;
    background-color: rgb(0,0,0);
    opacity: 0;
}

.overlay:hover {
    opacity: 0.6;
}

iframe {
    display: table;
    margin: auto;
    border-radius: 20px;
    border: none;
}

#videos {
    background-color: #c3e0c5;
    padding-top: 5px;
    padding-bottom: 50px;
}

footer {
    background-color: #216391;
    margin-top: 50px;
    margin-right: -10px;
    margin-left: -10px;
    bottom: 0;
}

table {
    width:100%;
}

td {
    text-align: center;
    width:33%;
}

td p {
    font-family: "Lato", sans-serif;
    color: white;
}

form {
    padding:15px;
    display: table;
    margin: auto;
}

input {
    border: 2px solid rgb(165, 165, 165);
    border-radius: 2px;
    padding: 1px;
    margin: 10px 15px 10px 15px;
    font-size: 20px;
    color: rgb(165,165,165);
    transition: color 0.3s ease-out;
}

textarea {
    width:100%;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 3px solid rgb(165, 165, 165);
    border-radius: 4px;
    background-color: #ffffff;
    font-size: 15px;
    color: rgb(165,165,165);
    font-family: "Lato", sans-serif;
    resize: both;
    transition: color 0.3s ease-out;
}

textarea:focus {
    box-sizing: border-box;
    color: black;
    border: 3px solid #0a3f63;
    transition: 0.3s ease-in;
    outline: none;
}

input:focus {
    box-sizing: border-box;
    border: 2px solid #0a3f53;
    color: #000000;
    transition: 0.3s ease-in;
    outline: none;
}

label {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    margin: 10px; 
}

input[type="submit"]{
    background-color: #0a3f63;
    border: none;
    border-radius: 5px;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
}

input[type="submit"]:hover{
    background-color: #012735;
}

.quote {
    color: rgb(61, 65, 68);
    font-family: "Lato", sans-serif;
    font-size: 20px;
    text-align: center;
}